<span class="email">{[{user.user_email}]}</span>

<button class="remove-list mdl-button mdl-js-button mdl-button--icon" ng-click="scope.removeUserToActionGroup(user)">
    <i class="mdi mdi-close"></i>
</button>
<div class="menu-cont" ng-init="prefix=user.type">
    <button class="button-icon">
        <i class="mdi"
            ng-class="{
            'mdi-pencil': user.permission == 'writers',
            'mdi-comment-text': user.permission == 'commenters',
            'mdi-eye': user.permission == 'viewers',
            'mdi-minus-circle': user.permission == 'none',
        }"></i>
    </button>
    <button class="button-icon open-menu">
        <i class="mdi arrow-down"></i>
    </button>
    <div class="menu-options">
        <a id="view-{[{prefix}]}-{[{$index}]}" ng-click="scope.updateUserPermissions(user, 'viewers')" ng-class="{
        'is-active': user.permission == 'viewers'}"
            >
            <i class="mdi mdi-eye"></i>
            <span class="mdl-tooltip mdl-tooltip--top" data-mdl-for="view-{[{prefix}]}-{[{$index}]}">{[{ 'permission_view' | translate }]}</span>
        </a>
        <a id="comment-{[{prefix}]}-{[{$index}]}" ng-click="scope.updateUserPermissions(user, 'commenters')" ng-class="{
            'is-active': user.permission == 'commenters'
            }">
            <i class="mdi mdi-comment-text"></i>
            <span class="mdl-tooltip mdl-tooltip--top" data-mdl-for="comment-{[{prefix}]}-{[{$index}]}">{[{ 'permission_comment' | translate }]}</span>
        </a>
        <a id="write-{[{prefix}]}-{[{$index}]}" ng-click="scope.updateUserPermissions(user, 'writers')" ng-class="{
            'is-active': user.permission == 'writers'
            }">
            <i class="mdi mdi-pencil"></i>
            <span class="mdl-tooltip mdl-tooltip--top" data-mdl-for="write-{[{prefix}]}-{[{$index}]}">{[{ 'permission_edit' | translate }]}</span>
        </a>
        <a id="remove-{[{prefix}]}-{[{$index}]}" ng-click="scope.updateUserPermissions(user, 'none')" ng-class="{
            'is-active': user.permission == 'none'
            }">
            <i class="mdi mdi-minus-circle"></i>
            <span class="mdl-tooltip mdl-tooltip--top" data-mdl-for="remove-{[{prefix}]}-{[{$index}]}">{[{ 'permission_remove' | translate }]}</span>
        </a>
    </div>
</div>

