<div class="process" ng-class="{
      'on-process' : process.status == 1,
      'on-complete' : process.status == 2,
      'on-error' : process.status == 3
    }" ng-repeat="process in processesList">
    <div class="p-head">
        <button class="action">
            <i class="mdi" ng-class="{
                'mdi-account-network': process.type == 1,
                'mdi-account-switch': process.type == 2,
                'mdi-folder-remove': process.type == 3
                }"></i>
            <span class="label">{[{ STATUS[process.status] | translate}]}</span>
        </button>
        <h1 class="title">
            <span ng-if="process.frequency && process.frequency != 0 ">{[{ process.name || PROCESSES_TYPE[process.type] | translate }]}</span> 
            <span ng-if="!process.frequency || process.frequency == 0">{[{ PROCESSES_TYPE[process.type] | translate }]}</span>
            <small class="subtitle">
                <!-- subtitles description -->
                <span ng-if="process.type == 1">{[{ 'new_owner' | translate }]}:</span>
                <span ng-if="process.type == 2">{[{ 'changing_permissions' | translate }]}:</span>
                <span ng-if="process.type == 3">{[{ 'search_orphans_in' | translate }]}:</span>
                <!-- subtitles users -->
                <b ng-if="process.type == 1" ng-bind="process.new_owner"></b>
                <b ng-if="process.type == 2">
                    <span>{[{ process.editors.length + process.commentators.length + process.viwers.length }]} {[{ 'users_and_groups' | translate}]}</span>
                </b>
                <b ng-if="process.type == 3">
                    <span>{[{ process.owner.length}]} {[{ 'users' | translate}]}</span>
                </b>
            </small>
        </h1>
    </div>
    <div class="p-body">
        <div ng-if="(process.files_processed + process.folders_processed) >= 0" class="relevant">
            <div class="r-num">{[{ process.files_processed*1 + process.folders_processed*1 }]}</div>
            <div class="r-desc">{[{ 'total_files_folders_processed' | translate }]}</div>
        </div>
        <ul class="p-list">
            <li ng-if="process.status !=1"><span class="name">{[{ 'status' | translate }]}:</span> <b>{[{ STATUS[process.status] | translate }]}</b></li>
            <li ng-if="process.folders"><span class="name">{[{ 'process_tit_folders_selected' | translate }]}:</span> <b ng-bind="process.folders.length"></b></li>
            <li ng-if="process.files"><span class="name">{[{ 'process_tit_files_selected' | translate }]}:</span> <b ng-bind="process.files.length"></b></li>
            <li ng-if="process.errors_files !=0 || process.errors_folders !=0">
                <span class="name">{[{ 'total_errors_proccesed' | translate }]}:</span>
                <b ng-bind="process.errors_files*1 + process.errors_folders*1"></b>
            </li>
            <li ng-if="process.last_run"><span class="name">{[{ 'last_date_run' | translate }]}:</span> <b ng-bind="process.last_run | date "></b></li>
            <li ng-if="process.type == 3"><span class="name">{[{ 'search_orphans_files' | translate }]}</span></li>
        </ul>
    </div>
    <div class="p-menu">
        <button id="process_{[{$index}]}" class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons mdi mdi-dots-vertical"></i>
        </button>
        <ul class="efor-menu mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="process_{[{$index}]}">
            <li class="mdl-menu__item" ng-click="launchToRun(process)"
                ng-if="process.status != 1" >
                <i class="mdi mdi-check-all"></i>
                {[{'run' | translate}]}
            </li>
            <li class="mdl-menu__item" ng-click="openEdit(process)" ng-if="process.status != 1">
                <i class="mdi mdi-pencil"></i>
                {[{'edit' | translate}]}
            </li>
            <li class="mdl-menu__item" ng-click="openDetails(process)">
                <i class="mdi mdi-format-list-bulleted-type"></i>
                {[{'details' | translate}]}
            </li>
            <li class="mdl-menu__item" ng-click="confirmDelete(process)"
                ng-if="process.status != 1" >
                <i class="mdi mdi-delete"></i>
                {[{'delete' | translate}]}
            </li>
        </ul>
    </div>
</div>

