<div class="row-single">
    <div>{[{ 'create_search_folders_files_identify' | translate }]}:</div>
    <div id="UserForIdentify" class="efor-search efor-title-search hide-down-button"
        search-input
        inp-placeholder="{[{ 'create_search_user' | translate }]}"
        inp-query-model="scope.processInCreation.userQuery"
        inp-key-fun="scope.getUsersByFind()"
        inp-clear-fun="scope.clearUserSelected()"
        list-repeat="scope.processInCreation.usersResult"
        list-mdl-icon="mdi-account-circle"
        list-select-fun="scope.getTokenUser(item)"
        >
    </div>
</div>
<div class="row-single">
    <div>{[{ 'create_files_selected' | translate }]}:</div>
    <div class="cont-table-file" ng-if="scope.processInCreation.folders.length || scope.processInCreation.files.length">
        <table class="table-list overflow-tbody table-file mdl-data-table mdl-js-data-table">
            <thead>
                <tr>
                    <th colspan="2" class="mdl-data-table__cell--non-numeric">
                        {[{ 'create_files_name' | translate }]}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="doc in scope.processInCreation.folders">
                    <td class="mdl-data-table__cell--non-numeric">
                        <img ng-src="{[{doc.icon}]}">
                        {[{ doc.name }]}
                    </td>
                    <td>
                        <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="scope.docsSustractObject(doc);">
                            <i class="mdi mdi-close"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-repeat="doc in scope.processInCreation.files">
                    <td class="mdl-data-table__cell--non-numeric">
                        <img ng-src="{[{doc.icon}]}">
                        {[{ doc.name }]}
                    </td>
                    <td>
                        <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="scope.docsSustractObject(doc);">
                            <i class="mdi mdi-close"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="non-proccess grid">
        <div class="text" ng-if="!scope.processInCreation.folders.length && !scope.processInCreation.files.length" >
            {[{ 'create_no_files_selected' | translate }]} 
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect"
            type="button"
            ng-show="scope.processInCreation.tokenUser"
            ng-click="scope.openDrive()" >
            <i class="mdi mdi-google-drive"></i>
            {[{ 'add_from_drive' | translate }]} 
        </button>
    </div>
</div>

