<div class="efor-modal-wrapper">
    <div class="config-box">
        <div class="info-header">
            <h3 class="title-info mdl-typography--headline">{[{ 'process_detail' | translate }]} <b ng-if="scope.processInView.name">"{[{ scope.processInView.name }]}"</b></h3>
        </div>
        <div class="info-body">
            <div class="mdl-grid">
                <ul class="ul-details">
                    <li ng-if="scope.processInView.type">
                        <b class="tit-col">{[{ 'process_tit_type' | translate }]}:</b>
                        <span>
                            {[{ scope.PROCESSES_TYPE[scope.processInView.type] | translate }]}
                            <small class="text-water">({[{ 'process_tit_id' | translate }]}: {[{ scope.processInView.id }]})</small>
                        </span>
                    </li>
                    <li ng-if="scope.processInView.status">
                        <b class="tit-col">{[{ 'process_tit_status' | translate }]}:</b>
                        <span> {[{ scope.STATUS[scope.processInView.status] | translate }]} </span>
                    </li>
                    <li ng-if="scope.processInView.created">
                        <b class="tit-col">{[{ 'process_tit_created_date' | translate }]}:</b>
                        <span>{[{ scope.processInView.created | date }]}</span>
                    </li>
                    <!-- Frequency -->
                    <li ng-if="scope.processInView.frequency !=0">
                        <b class="tit-col">{[{ 'process_tit_frequency' | translate }]}:</b>
                        <span ng-if="scope.processInView.frequency == 1">
                            {[{ 'create_frequency_a' | translate }]}
                            <small class="text-water"> ({[{ 'settings_hour' | translate }]} {[{ scope.dateDaily | dateHours }]}) </small>
                        </span>
                        <span ng-if="scope.processInView.frequency == 2">
                            {[{ 'create_frequency_b' | translate }]}
                            <small class="text-water"> ({[{ 'settings_monday' | translate }]}: {[{ scope.dateWeekely | dateDayName | translate}]}, {[{ scope.dateWeekely | dateHours }]})  </small>
                        </span>
                        <span ng-if="scope.processInView.frequency == 3">
                            {[{ 'create_frequency_c' | translate }]}
                            <small class="text-water"> ({[{ 'settings_day' | translate }]} {[{ scope.dateMonthly | dateHours }]}) </small>
                        </span>
                    </li>
                    <li ng-if="scope.processInView.owner">
                        <b class="tit-col" ng-if="scope.logsInView.new_owner" >{[{ 'process_tit_old_owner' | translate }]}:</b>
                        <span class="title-if" ng-if="!scope.logsInView.new_owner">
                            <b class="tit-col" ng-if="scope.processInView.owner.length <= 1" >{[{ 'process_tit_owner' | translate }]}:</b>
                            <b class="tit-col" ng-if="scope.processInView.owner.length >= 2" >{[{ 'process_tit_owners' | translate }]}:</b>
                        </span>
                        <span class="user-item" ng-repeat="owner in scope.processInView.owner" title="{[{ owner }]}">
                            <i class="mdi mdi-account"></i>
                            {[{ owner | shortEmail }]}
                        </span>
                    </li>

                    <li ng-if="scope.processInView.new_owner">
                        <b class="tit-col">{[{ 'process_tit_new_owner' | translate }]}:</b>
                        <span class="user-item" title="{[{ scope.processInView.new_owner }]}">
                            <i class="mdi mdi-account"></i>
                            {[{ scope.processInView.new_owner | shortEmail }]}
                        </span>
                    </li>

                    <!-- Files -->
                    <li ng-if="scope.processInView.folders.length" ng-class="{'show-files': scope.processInView.folders.show}">
                        <b class="tit-col">{[{ 'process_tit_folders_selected' | translate }]}:</b>
                        <a href=""
                            ng-click="scope.processInView.folders.show = !scope.processInView.folders.show">
                            ({[{ scope.processInView.folders.length }]})
                        </a>
                        <div class="files-list" >
                            <a class="file-item" id="folder-{[{ folder.id }]}" ng-repeat="folder in scope.processInView.folders | orderBy:'name'" title="{[{ folder.name }]}">
                                <img class="file-icon" ng-src="{[{folder.icon}]}">
                                {[{ folder.name }]}
                            </a>
                        </div>
                    </li>
                    <li ng-if="(scope.processInView.folders_processed && scope.processInView.folders_processed != 0) ||
                        (scope.processInView.errors_folders && scope.processInView.errors_folders != 0)">
                        <b class="tit-col">{[{ 'process_tit_processed_folders' | translate }]}:</b>
                        <span>
                            {[{ scope.processInView.folders_processed }]}
                            <small class="text-water" ng-if="scope.processInView.errors_folders !=0">
                                ({[{ process_tit_errors_files | translate }]} {[{ scope.processInView.errors_folders }]})
                            </small>
                        </span>
                    </li>
                    <li ng-if="(scope.processInView.files_processed && scope.processInView.files_processed != 0) ||
                        (scope.processInView.errors_files && scope.processInView.errors_files != 0)">
                        <b class="tit-col">{[{ 'process_tit_files_processed' | translate }]}:</b>
                        <span>
                            {[{ scope.processInView.files_processed }]}
                            <small class="text-water" ng-if="scope.processInView.errors_files !=0">
                                ({[{ scope.processInView.errors_files }]} {[{ 'process_tit_errors_files' | translate }]})
                            </small>
                        </span>
                    </li>
                    <!-- folders count -->
                    <li ng-if="(scope.processInView.folders_count && scope.processInView.count != 0)">
                        <b class="tit-col">{[{ 'process_tit_processed_folders' | translate }]}:</b>
                        <span>
                            {[{ scope.processInView.folders_count }]}
                        </span>
                    </li>
                    <!-- files count -->
                    <li ng-if="(scope.processInView.files_count && scope.processInView.count != 0)">
                        <b class="tit-col">{[{ 'process_tit_files_processed' | translate }]}:</b>
                        <span>
                            {[{ scope.processInView.files_count }]}
                            <small class="text-water" ng-if="scope.processInView.total_size">
                                ({[{ 'process_tit_files_size' | translate }]}: {[{ scope.processInView.total_size | toMb }]})
                            </small>
                        </span>
                    </li>

                    <!-- other domain count -->
                    <li
                            ng-if="(scope.processInView.other_domain_count && scope.processInView.count != 0)">
                        <b class="tit-col">{[{ 'other_domain_files' | translate }]}:</b>
                        <span>
                            {[{ scope.processInView.other_domain_count }]}
                        </span>
                    </li>

                    <li ng-if="scope.processInView.files.length" ng-class="{'show-files': scope.processInView.files.show}">
                        <b class="tit-col">{[{ 'process_tit_files' | translate }]}:</b>
                        <span class="length-list"
                            ng-click="scope.processInView.files.show = !scope.processInView.files.show">
                            {[{ 'process_tit_files_length' | translate }]} ({[{ scope.processInView.files.length }]})
                        </span>
                        <div class="files-list" ng-class="{'show': scope.processInView.files.show}">
                            <a class="file-item" id="folder-{[{ file.id }]}" ng-repeat="file in scope.processInView.files | orderBy:'name'" title="{[{ file.name }]}">
                                <img class="file-icon" ng-src="{[{file.icon}]}">
                                {[{ file.name }]}
                            </a>
                        </div>
                    </li>

                    <!-- Permissions -->
                    <li ng-if="scope.processInView.writers.length">
                        <b class="tit-col">{[{ 'process_tit_writers' | translate }]}:</b>
                        <span class="user-item" ng-repeat="writer in scope.processInView.writers" title="{[{writer.user_email}]}">
                            <i class="mdi" ng-class="{
                                'mdi-account-multiple' : writer.type == 'group',
                                'mdi-domain' : writer.type == 'domain',
                                'mdi-account' : writer.type == 'user'
                            }"></i>
                            {[{ writer.user_email | shortEmail}]}
                        </span>
                    </li>
                    <li ng-if="scope.processInView.viewers.length">
                        <b class="tit-col">{[{ 'process_tit_viewers' | translate }]}:</b>
                        <span class="user-item" ng-repeat="viewer in scope.processInView.viewers" title="{[{viewer.user_email}]}">
                            <i class="mdi" ng-class="{
                                'mdi-account-multiple' : viewer.type == 'group',
                                'mdi-domain' : viewer.type == 'domain',
                                'mdi-account' : viewer.type == 'user'
                            }"></i>
                            {[{ viewer.user_email | shortEmail}]}
                        </span>
                    </li>
                    <li ng-if="scope.processInView.commenters.length">
                        <b class="tit-col">{[{ 'process_tit_commenters' | translate }]}:</b>
                        <span class="user-item" ng-repeat="commenter in scope.processInView.commenters" title="{[{commenter.user_email}]}">
                            <i class="mdi" ng-class="{
                                'mdi-account-multiple' : commenter.type == 'group',
                                'mdi-domain' : commenter.type == 'domain',
                                'mdi-account' : commenter.type == 'user'
                            }"></i>
                            {[{ commenter.user_email | shortEmail}]}
                        </span>
                    </li>
                    <li ng-if="scope.processInView.none.length">
                        <b class="tit-col">{[{ 'process_tit_none' | translate }]}:</b>
                        <span class="user-item" ng-repeat="noner in scope.processInView.none" title="{[{noner.user_email}]}">
                            <i class="mdi" ng-class="{
                                'mdi-account-multiple' : noner.type == 'group',
                                'mdi-domain' : noner.type == 'domain',
                                'mdi-account' : noner.type == 'user'
                            }"></i>
                            {[{ noner.user_email | shortEmail}]}
                        </span>
                    </li>
                    <li ng-if="scope.processInView.reset_permissions">
                        <b class="tit-col">{[{ 'process_tit_reset_permissions' | translate }]}:</b>
                        <span>{[{ 'general_yes' | translate  }]}</span>
                    </li>
                    <li >
                        <b class="tit-col">{[{ 'process_tit_copy' | translate }]}:</b>
                        <span ng-if="scope.processInView.viewer_cancopy == true">{[{ 'general_yes' | translate  }]}</span>
                        <span ng-if="scope.processInView.viewer_cancopy == false">{[{ 'general_no' | translate  }]}</span>
                    </li>
                    <li>
                        <b class="tit-col">{[{ 'process_tit_share' | translate }]}:</b>
                        <span ng-if="scope.processInView.writer_canshare == true">{[{ 'general_yes' | translate  }]}</span>
                        <span ng-if="scope.processInView.writer_canshare == false">{[{ 'general_no' | translate  }]}</span>
                    </li>

                   <!-- Info from endpoin -->
                    <!-- Details -->
                    <li ng-if="scope.processInView.proccessDetail.length > 0">
                        <b>{[{ 'details' | translate }]}</b>:
                        <div class="error-report" >
                            <ul>
                                <li ng-repeat="item in scope.processInView.proccessDetail" >
                                    <span ng-if="item.error">
                                        {[{ 'give_permissions_impossible'| translate }]} :
                                        <b> {[{ item.collaborator }]}</b>
                                    </span>
                                    <span ng-if="!(item.error)">
                                        {[{ 'give_permissions'| translate }]} :
                                        <b> {[{ item.collaborator }]}</b>
                                    </span>
                                    <span>
                                        {[{ 'give_permissions_2'| translate }]}
                                        <b> {[{ item.name }]}.</b>
                                    </span>
                                    <span ng-if="item.error">
                                        Error:
                                        <i>{[{ item.error }]}</i>
                                    </span>

                                </li>
                                <li ng-if="scope.processInView.proccessDetailPlane" class="preScroll">{[{scope.processInView.proccessDetailPlane}]}</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="info-footer">
            <button type="button" class="mdl-button mdl-js-button ng-binding" ng-click="efmodal.close()" data-upgraded=",MaterialButton">{[{ 'close' | translate }]}</button>
        </div>
    </div>
</div>
