<div class="efor-modal-wrapper">
    <div class="config-box">
        <div class="info-header">
            <h3 class="title-info mdl-typography--headline">{[{ 'process_detail' | translate }]} <b ng-if="scope.processInView.name">"{[{ scope.processInView.name }]}"</b></h3>
        </div>
        <div class="info-body">
            <div class="mdl-grid">
                <ul class="ul-details">
                    <li ng-if="scope.processInView.type">
                        <b class="tit-col">{[{ 'process_activity' | translate }]}:</b>
                        <span>
                            {[{ scope.PROCESSES_TYPE[scope.processInView.type] | translate }]}
                            <small class="text-water">({[{ 'process_tit_id' | translate }]}: {[{ scope.processInView.id }]})</small>
                        </span>
                    </li>
                    <li ng-if="scope.processInView.status">
                        <b class="tit-col">{[{ 'process_tit_status' | translate }]}:</b>
                        <span> {[{ scope.STATUS[scope.processInView.status] | translate }]} </span>
                    </li>
                    <li ng-if="scope.processInView.created">
                        <b class="tit-col">{[{ 'process_tit_created_date' | translate }]}:</b>
                        <span>{[{ scope.processInView.created | date }]}</span>
                    </li>
                    <li ng-if="scope.processInView.owner">
                        <b class="tit-col" ng-if="scope.logsInView.new_owner" >{[{ 'process_tit_old_owner' | translate }]}:</b>
                        <span class="title-if" ng-if="!scope.logsInView.new_owner">
                            <b class="tit-col" ng-if="scope.processInView.owner.length <= 1" >{[{ 'processed_user' | translate }]}:</b>
                        </span>
                        <span class="user-item" >
                            <i class="mdi mdi-account"></i>
                            {[{ scope.processInView.user_applicat | shortEmail }]}
                        </span>
                    </li>
                    <!-- Files -->
                    <li ng-if="scope.processInView.folders.length" ng-class="{'show-files': scope.processInView.folders.show}">
                        <b class="tit-col">{[{ 'process_tit_folders_selected' | translate }]}:</b>
                        <a href=""
                            ng-click="scope.processInView.folders.show = !scope.processInView.folders.show">
                            {[{ 'process_tit_folders_length' | translate }]} ({[{ scope.processInView.folders.length }]})
                        </a>
                        <div class="files-list" >
                            <a class="file-item" id="folder-{[{ folder.id }]}" ng-repeat="folder in scope.processInView.folders | orderBy:'name'" title="{[{ folder.name }]}">
                                <img class="file-icon" ng-src="{[{folder.icon}]}">
                                {[{ folder.name }]}
                            </a>
                        </div>
                    </li>
                    <li ng-if="(scope.processInView.folders_processed && scope.processInView.folders_processed != 0) ||
                        (scope.processInView.errors_folders && scope.processInView.errors_folders != 0)">
                        <b class="tit-col">{[{ 'process_tit_processed_folders' | translate }]}:</b>
                        <span>
                            {[{ scope.processInView.folders_processed }]}
                            <small class="text-water" ng-if="scope.processInView.errors_folders !=0">
                                ({[{ process_tit_errors_files | translate }]} {[{ scope.processInView.errors_folders }]})
                            </small>
                        </span>
                    </li>
                    <li ng-if="(scope.processInView.files_processed && scope.processInView.files_processed != 0) ||
                        (scope.processInView.errors_files && scope.processInView.errors_files != 0)">
                        <b class="tit-col">{[{ 'process_tit_processed_files' | translate }]}:</b>
                        <span>
                            {[{ scope.processInView.files_processed }]}
                            <small class="text-water" ng-if="scope.processInView.errors_files !=0">
                                ({[{ scope.processInView.errors_files }]} {[{ 'process_tit_errors_files' | translate }]})
                            </small>
                        </span>
                    </li>
                    <!-- folders count -->
                    <li ng-if="(scope.processInView.folders_count && scope.processInView.count != 0)">
                        <b class="tit-col">{[{ 'listed_folders_label' | translate }]}:</b>
                        <span>
                            {[{ scope.processInView.folders_count }]}
                        </span>
                    </li>
                    <!-- files count -->
                    <li ng-if="(scope.processInView.files_count && scope.processInView.count != 0)">
                        <b class="tit-col">{[{ 'listed_files_label' | translate }]}:</b>
                        <span>
                            {[{ scope.processInView.files_count }]}
                            <!--small class="text-water" ng-if="scope.processInView.total_size">
                                ({[{ 'process_tit_files_size' | translate }]}: {[{ scope.processInView.total_size | toMb }]})
                            </small-->
                        </span>
                    </li>
                    <!--Processed Folders-->
                    <li ng-if="(scope.processInView.files_count && scope.processInView.count != 0)">
                        <b class="tit-col">{[{ 'process_tit_processed_files' | translate }]}:</b>
                        <span>
                            {[{ scope.processInView.total_processed }]}
                            <!--small class="text-water" ng-if="scope.processInView.total_size">
                                ({[{ 'process_tit_files_size' | translate }]}: {[{ scope.processInView.total_size | toMb }]})
                            </small-->
                        </span>
                    </li>

                    <li ng-if="scope.processInView.files.length" ng-class="{'show-files': scope.processInView.files.show}">
                        <b class="tit-col">{[{ 'process_tit_files' | translate }]}:</b>
                        <span class="length-list"
                            ng-click="scope.processInView.files.show = !scope.processInView.files.show">
                            {[{ 'process_tit_files_length' | translate }]} ({[{ scope.processInView.files.length }]})
                        </span>
                        <div class="files-list" ng-class="{'show': scope.processInView.files.show}">
                            <a class="file-item" id="folder-{[{ file.id }]}" ng-repeat="file in scope.processInView.files | orderBy:'name'" title="{[{ file.name }]}">
                                <img class="file-icon" ng-src="{[{file.icon}]}">
                                {[{ file.name }]}
                            </a>
                        </div>
                    </li>
                    <!-- Process Details -->
                    <li ng-if="scope.processInView.proccessDetail.length > 0">
                        <b>{[{ 'details' | translate }]}</b>:
                        <div class="error-report">
                             <ul>
                                 <span> {[{ 'process_detail_header' | translate }]} </span>
                                <li ng-repeat="item in scope.processInView.proccessDetail">
                                    <span>
                                       <b> {[{ item.name }]}: </b>
                                        {[{ 'owned_by' | translate }]} {[{ item.owner }]}
                                    </span>
                                    <span ng-if="item.error"> :
                                        {[{ item.error }]}
                                    </span>
                                </li>
                                <li ng-if="scope.processInView.proccessDetailPlane" class="preScroll">{[{scope.processInView.proccessDetailPlane}]}</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="info-footer">
            <button type="button" class="mdl-button mdl-js-button ng-binding" ng-click="efmodal.close()" data-upgraded=",MaterialButton">{[{ 'close' | translate }]}</button>
        </div>
    </div>
</div>
