<div class="efor-modal-wrapper" ng-controller="configureController">
    <div class="white-box box-middle box-no-padding">
        <div class="efor-modal-btn-quit mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect" ng-click="efmodal.close()"><i class="material-icons">close</i></div>
        <form class="content-section" name="userForm" ng-submit="scope.saveUser(userForm)">
            <div class="info-header icon">
                <i class="mdi mdi-account-network"></i>
                <h3 class="title-info mdl-typography--headline">{[{ 'PROPERTY_MANAGE' | translate }]}</h3>
                <small class="breadcumbs" ng-if="scope.activeSlide == 0">1 - 3 {[{ 'create_sub_select_folders_files' | translate }]}</small>
                <small class="breadcumbs" ng-if="scope.activeSlide == 1">2 - 3 {[{ 'create_B_sub_assign_permissions' | translate }]}</small>
                <small class="breadcumbs" ng-if="scope.activeSlide == 2">3 - 3 {[{ 'create_sub_other_options' | translate }]}</small>
            </div>
            <div class="info-body" ng-init="scope.TOTALSLIDES=2;scope.activeSlide=0;">
                <section process-select-folders class="slider" ng-show="scope.activeSlide==0">
                </section>

                <section class="slider" ng-show="scope.activeSlide==1">
                    <div class="row-single">
                        <div>{[{ 'create_B_customize_permissions_files' | translate }]} <b>({[{ scope.processInCreation.folders.length + scope.processInCreation.files.length }]})</b>:</div>
                        <label class="cont-radios mdl-radio mdl-js-radio mdl-js-ripple-effect">
                            <input class="mdl-radio__button" type="radio" ng-value="1" name="searchAs"
                                   id="searchAs_users" ng-model="scope.processInCreation.searchAs"/>
                            <span class="mdl-radio__label" for="searchAs_users">{[{ 'create_search_users' | translate }]}</span>
                        </label>
                        <label class="cont-radios mdl-radio mdl-js-radio mdl-js-ripple-effect">
                            <input class="mdl-radio__button" type="radio" ng-value="2" name="searchAs"
                                   id="searchAs_groups" ng-model="scope.processInCreation.searchAs"/>
                            <span class="mdl-radio__label" for="searchAs_groups">{[{ 'create_search_groups' | translate }]}</span>
                        </label>
                        <label class="cont-radios mdl-radio mdl-js-radio mdl-js-ripple-effect">
                            <input class="mdl-radio__button" type="radio" ng-value="3" name="searchAs"
                                   id="searchAs_domain" ng-model="scope.processInCreation.searchAs"/>
                            <span class="mdl-radio__label" for="searchAs_domain">{[{ 'create_search_domain' | translate }]} ({[{ DOMAIN }]})</span>
                        </label>
                        <div class="cont-searcher">
                            <div id="UserForPermissions" class="efor-search efor-title-search hide-down-button"
                                search-input
                                inp-placeholder="{[{ 'input_search' | translate }]}"
                                inp-query-model="scope.processInCreation.userPermissionQuery"
                                inp-key-fun="scope.getUsersGroupByFind()"
                                inp-clear-fun="scope.clearUserPermissionSelected()"
                                list-repeat="scope.processInCreation.usersPermissionsResult"
                                list-mdl-icon="mdi-account-circle"
                                list-select-fun="scope.setUsersPermissions(item)"
                                >
                            </div>
                            <div class="selected"
                                 ng-class="{'is-disabled' : !scope.processInCreation.userOrGroupToAdd.user_email}"
                                >
                                <select class="text"
                                    ng-model="scope.processInCreation.userOrGroupToAdd.permission"
                                    ng-change="scope.addUserToManagePermission()"
                                    ng-disabled="!scope.processInCreation.userOrGroupToAdd.user_email"
                                    ng-class="{'is-empty':scope.processInCreation.userOrGroupToAdd.permission == ''}"
                                    >
                                    <option value="">{[{ 'permission_for' | translate }]}...</option>
                                    <option value="viewers">{[{ 'permission_view' | translate }]}</option>
                                    <option value="commenters">{[{ 'permission_comment' | translate }]}</option>
                                    <option value="writers">{[{ 'permission_edit' | translate }]}</option>
                                    <option value="new_owner"
                                        ng-if="!scope.processInCreation.new_owner && scope.processInCreation.searchAs == 1"
                                        >{[{ 'permission_owner' | translate }]}</option>
                                    <option value="none">{[{ 'permission_remove' | translate }]}</option>
                                </select>
                                <a class="botton-down" href="" >
                                    <i class="arrow-down mdi mdi-mdi-down"></i>
                                </a>
                            </div>
                        </div>
                        <div class="groups-users">
                            <!-- owner row -->
                            <div class="row-group type-outstanding" ng-if="scope.processInCreation.new_owner">
                                <div class="section-title">
                                    <i class="mdi mdi-star"></i>
                                    {[{ 'create_new_owner' | translate }]}
                                </div>
                                <div class="users-group">
                                    <div class="user-line" >
                                        <span class="email">{[{ scope.processInCreation.new_owner }]}</span>
                                        <button class="remove-list mdl-button mdl-js-button mdl-button--icon"
                                            ng-click="scope.removeUserToActionGroup(scope.processInCreation.new_owner)">
                                            <i class="mdi mdi-close"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <!-- Domain row -->
                            <div class="row-group" ng-if="scope.processInCreation.actionsGroupsView.domain.length">
                                <div class="section-title">
                                    <i class="mdi mdi-domain"></i>
                                    {[{ 'create_search_domain' | translate }]}
                                </div>
                                <div class="users-group">
                                    <div process-select-user-permissions class="user-line"
                                        ng-repeat="user in scope.processInCreation.actionsGroupsView.domain track by $index"></div>
                                </div>
                            </div>

                            <!-- Group row -->
                            <div class="row-group" ng-if="scope.processInCreation.actionsGroupsView.group.length">
                                <div class="section-title">
                                    <i class="material-icons">group_work</i>
                                    {[{ 'create_search_groups' | translate }]}
                                </div>
                                <div class="users-group">
                                    <div process-select-user-permissions class="user-line"
                                        ng-repeat="user in scope.processInCreation.actionsGroupsView.group track by $index"></div>
                                </div>
                            </div>

                            <!--Users row -->
                            <div class="row-group" ng-if="scope.processInCreation.actionsGroupsView.user.length">
                                <div class="section-title">
                                    <i class="mdi mdi-account-multiple"></i>
                                    {[{ 'create_search_users' | translate }]}
                                </div>
                                <div class="users-group">
                                    <div process-select-user-permissions class="user-line"
                                        ng-repeat="user in scope.processInCreation.actionsGroupsView.user track by $index"></div>
                                </div>
                            </div>
                            <div class="non-proccess grid" >
                                <div class="text" ng-if="!scope.processInCreation.actionsGroupsView.user.length &&
                                    !scope.processInCreation.actionsGroupsView.group.length &&
                                    !scope.processInCreation.actionsGroupsView.domain.length &&
                                    !scope.processInCreation.new_owner
                                ">
                                    {[{ 'create_no_permissions_assigned' | translate }]} 
                                </div>
                                <div class="text" ng-if="
                                    scope.processInCreation.new_owner ||
                                    scope.processInCreation.actionsGroupsView.user.length ||
                                    scope.processInCreation.actionsGroupsView.group.length ||
                                    scope.processInCreation.actionsGroupsView.domain.length
                                    ">
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="viewer_cancopy">
                                        <input type="checkbox" id="viewer_cancopy" ng-model="scope.processInCreation.viewer_cancopy" ng-value="true" class="mdl-checkbox__input" checked="checked"  >
                                        <span class="mdl-checkbox__label">{[{ 'create_viewer_cancopy' | translate }]} </span>
                                    </label>
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="writer_canshare">
                                        <input type="checkbox" id="writer_canshare" ng-model="scope.processInCreation.writer_canshare" ng-value="true" class="mdl-checkbox__input" checked="checked" >
                                        <span class="mdl-checkbox__label">{[{ 'create_writer_canshare' | translate }]} </span>
                                    </label>
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="reset_permissions">
                                        <input type="checkbox" id="reset_permissions" ng-model="scope.processInCreation.reset_permissions" ng-value="true" class="mdl-checkbox__input" >
                                        <span class="mdl-checkbox__label">{[{ 'create_reset_all_permissions' | translate }]} </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="slider" ng-show="scope.activeSlide==2">
                    <div class="row-single">
                        <div>{[{ 'create_is_concurrent_task' | translate }]}</div>
                        <div class="non-proccess" ng-if="!scope.processInCreation.folders.length">
                            <div class="text">
                                {[{ 'create_frecuency_advice' | translate }]}
                            </div>
                        </div>
                        <div class="padding-left block-radios" ng-if="scope.processInCreation.folders.length">
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                            <input class="mdl-radio__button" type="radio" ng-value="false" name="frecuencyTask"
                                   id="frecuencyTask_no" ng-model="scope.processInCreation.showFrequency"/>
                            <span class="mdl-radio__label" for="frecuencyTask_no">{[{ 'create_no_only_time' | translate }]}</span>
                            </label>
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                                <input class="mdl-radio__button" type="radio" ng-value="true" name="frecuencyTask"
                                       id="frecuencyTask_yes" ng-model="scope.processInCreation.showFrequency"/>
                                <span class="mdl-radio__label" for="frecuencyTask_yes">{[{ 'create_yes_more_times' | translate }]} <small>({[{ 'create_frecuency_advice' | translate }]})</small></span>
                            </label>
                        </div>
                    </div>
                    <div class="row-single"
                        ng-if="scope.processInCreation.showFrequency">
                        <div>{[{ 'create_frequency_label' | translate }]}:</div>
                        <div class="no-label-input mini-input mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="name"
                                ng-model="scope.processInCreation.name"
                                ng-change="scope.processInCreation.name = (scope.processInCreation.name | validName)">
                            <label class="mdl-textfield__label" for="nameProccess">{[{ 'create_frequency_name' | translate }]}</label>
                        </div>
                        <div class="padding-left block-radios">
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                            <input class="mdl-radio__button" type="radio" ng-value="1" name="frequency"
                                   id="frequency_a"
                                   ng-model="scope.processInCreation.frequency"  ng-disabled="frequency_allowed < 3 || frequency_allowed ==4"/>
                            <span class="mdl-radio__label" for="frequency_a">
                                {[{ 'create_frequency_a' | translate }]}
                                <small class="text-water"> ({[{ 'settings_hour' | translate }]} {[{ scope.dateDaily | dateHours }]}) </small>
                            </span>
                            </label>
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                                <input class="mdl-radio__button" type="radio" ng-value="2" name="frequency"
                                       id="frequency_b"
                                       ng-model="scope.processInCreation.frequency"  ng-disabled="frequency_allowed < 2 || frequency_allowed ==4"/>
                                <span class="mdl-radio__label" for="frequency_b">
                                    {[{ 'create_frequency_b' | translate }]}
                                    <small class="text-water"> ({[{ 'settings_monday' | translate }]}: {[{ scope.dateWeekely | dateDayName | translate}]}, {[{ scope.dateWeekely | dateHours }]})  </small>
                                </span>
                            </label>
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                                <input class="mdl-radio__button" type="radio" ng-value="3" name="frequency"
                                       id="frequency_c"
                                       ng-model="scope.processInCreation.frequency"  ng-disabled="frequency_allowed ==4" />
                                <span class="mdl-radio__label" for="frequency_c">
                                    {[{ 'create_frequency_c' | translate }]}
                                    <small class="text-water"> ({[{ 'settings_day' | translate }]} {[{ scope.dateMonthly | dateHours }]}) </small>
                                </span>
                            </label>
                        </div>
                    </div>
                </section>
            </div>
            <div class="info-footer">
                <button type="button" class="mdl-button mdl-js-button" ng-show="scope.activeSlide == 0" ng-click="efmodal.close()">
                    {[{ 'cancel' | translate }]}
                </button>
                <button type="button" id="backBotton" ng-show="scope.activeSlide > 0" class="mdl-button mdl-js-button" ng-click="scope.goSlide('prev')">
                    {[{ 'prev' | translate }]}
                </button>
                <button type="button" id="nextBotton" ng-show="scope.activeSlide < scope.TOTALSLIDES" class="mdl-button mdl-js-button mdl-button--colored" ng-click="scope.validateOwnerShipChange()">
                    {[{ 'next' | translate }]}
                </button>
                <button type="submit" id="nextBotton" ng-if="scope.activeSlide == scope.TOTALSLIDES" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" ng-click="scope.createProcessOwnner()">
                    <span ng-if="processInCreationi.isEdit">{[{ 'create' | translate }]}</span>
                    <span ng-if="!processInCreationi.isEdit">{[{ 'save' | translate }]}</span>
                </button>
            </div>
        </form>
    </div>
</div>
