<div class="efor-modal-wrapper" ng-controller="configureController">
    <div class="white-box box-middle">
        <div class="efor-modal-btn-quit mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect" ng-click="efmodal.close()"><i class="material-icons">close</i></div>
        <form class="content-section" name="userForm" ng-submit="scope.saveUser(userForm)">
            <div class="info-header icon">
                <i class="mdi mdi-folder-remove" style="margin-top:0;"></i>
                <h3 class="title-info mdl-typography--headline">{[{ 'SEARCH_ORPHANS' | translate }]}</h3>
                <small class="breadcumbs" ng-if="scope.activeSlide == 0">{[{ '' | translate }]}</small>
            </div>
            <div class="info-body" ng-init="scope.TOTALSLIDES=0;scope.activeSlide=0;">
                <section class="slider" ng-show="scope.activeSlide==0">
                    <div class="row-single">
                        <div>{[{ 'create_C_sub_select_users_for_search' | translate }]}:</div>
                        <!-- this input is self than user owner -->
                        <div id="newUsersForOrpahnsFiles" class="efor-search efor-title-search hide-down-button"
                            search-input
                            inp-placeholder="{[{ 'create_search_user' | translate }]}"
                            inp-query-model="scope.processInCreation.userQuery"
                            inp-key-fun="scope.getUsersByFind()"
                            inp-clear-fun="scope.clearInputUser()"
                            list-repeat="scope.processInCreation.usersResult"
                            list-mdl-icon="mdi-account-circle"
                            list-select-fun="scope.setUserForOrphansFiles(item)"
                            >
                        </div>
                        <div class="cont-table-user" ng-if="scope.processInCreation.owner && scope.processInCreation.owner.length">
                            <table class="table-list overflow-tbody table-file mdl-data-table mdl-js-data-table">
                                <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric">{[{ 'users_name' | translate }]}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="lt-ie11" ng-repeat="user in scope.processInCreation.owner">
                                        <td class="mdl-data-table__cell--non-numeric">
                                            <i class="mdi mdi-account"></i>
                                            {[{ user }]}
                                        </td>
                                        <td class="ie-rigth">
                                            <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="scope.userSustractObject(user);">
                                                <i class="mdi mdi-close"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="non-proccess grid">
                            <div class="text">
                                {[{ 'create_C_note_about_saved_files' | translate }]}:
                                <b>"/Orphan Files"</b>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="info-footer">
                <button type="button" class="mdl-button mdl-js-button" ng-show="scope.activeSlide == 0" ng-click="efmodal.close()">
                    {[{ 'cancel' | translate }]}
                </button>
                <button type="submit" id="nextBotton" ng-if="scope.activeSlide == scope.TOTALSLIDES" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" ng-click="scope.createProcessOwnner()">
                    {[{ 'find_and_move' | translate }]}
                </button>
            </div>
        </form>
    </div>
</div>
