<div class="efor-modal-wrapper" ng-controller="configureController">
    <div class="config-box">
        <div class="content-section">
            <div class="info-header">
                <h3 class="title-info mdl-typography--headline"> <i class="material-icons">settings</i> {[{ 'settings_title' | translate }]}</h3>
            </div>
            <div class="info-body" ng-init="tab_visible=1">
                <div class="mdl-grid">

                    <div class="config-tabs mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet">
                        <a class="mdl-button" ng-click="tab_visible=1" ng-class="{'is-active':tab_visible==1}">{[{ 'settings_sync_tab' | translate }]}</a>
                        <a class="mdl-button" ng-click="tab_visible=2" ng-class="{'is-active':tab_visible==2}" hidden>{[{ 'notification_tab' | translate }]}</a>
                        <a class="mdl-button" ng-click="tab_visible=3" ng-class="{'is-active':tab_visible==3}">{[{ 'settings_language_tab' | translate }]}</a>
                        <a class="mdl-button" ng-click="tab_visible=4" ng-class="{'is-active':tab_visible==4}">{[{ 'settings_administrators_tab' | translate }]}</a>
                        <a class="mdl-button" ng-click="tab_visible=5" ng-class="{'is-active':tab_visible==5}" hidden>{[{ 'settings_licenses_tab' | translate }]}</a>
                        <a class="mdl-button" ng-click="tab_visible=6" ng-class="{'is-active':tab_visible==6}">{[{ 'settings_authorize_tab' | translate }]}</a>
                    </div>

                    <div class="config-pane mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet" ng-show="tab_visible==1">
                        <fieldset class="fieldset">
                            <div class="mdl-grid">
                                <div class="button-actions" ng-class="sync_status">
                                    <button class="mdl-button mdl-button mdl-js-button" ng-click="syncUsers($event)">
                                        {[{ 'settings_sync_google' | translate }]}
                                        <i class="material-icons status-icon">{[{sync_status}]}</i>
                                    </button>
                                    <span class="status-text" ng-if="configure.sync_users.date">({[last_sync_date]})</span>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="config-pane mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet" ng-show="tab_visible==2" hidden>
                        <fieldset class="fieldset">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="email_notification" ng-class="{ 'is-checked' : configure.email_notification }">
                                <input type="checkbox" id="email_notification" class="mdl-checkbox__input" ng-model="configure.email_notification" ng-change="receiveNotifications()">
                                <span class="mdl-checkbox__label">{[{ 'settings_alert_changes' | translate }]} </span>
                            </label>
                        </fieldset>
                    </div>

                    <div class="config-pane mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet" ng-show="tab_visible==3">
                        <fieldset class="fieldset">
                            <div class="mdl-cell--4-col">
                                <label class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" for="languageOptions">
                                    <select class="mdl-textfield__input" name="languageOptions" id="languageOptions" ng-model="configure.language" ng-options="option.lang for option in languageList track by option.id" ng-change="selectLanguage(configure.language)"></select>
                                    <span class="mdl-textfield__label">{[{ 'settings_language_label' | translate }]} </span>
                                </label>
                            </div>
                        </fieldset>
                    </div>

                    <div class="config-pane mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet" ng-show="tab_visible==4">
                        <fieldset class="fieldset">
                            <div id="search_users_to_admin" class="efor-search efor-title-search"
                                search-input
                                inp-placeholder="{[{ 'input_search' | translate }]}"
                                inp-query-model="search_criteria"
                                inp-key-fun="userMatches()"
                                inp-clear-fun="searchUserClear()"
                                list-repeat="user_results"
                                list-mdl-icon="mdi-account-circle"
                                list-select-fun="loadUser(item)"
                                >
                            </div>
                        </fieldset>
                        <fieldset>
                            <table class="table-list mdl-data-table" ng-if="admin_users.length">
                                <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric">{[{ 'settings_user' | translate }]}</th>
                                        <th>{[{ 'settings_administrator' | translate }]}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="user in admin_users">
                                        <td class="mdl-data-table__cell--non-numeric">
                                            <div class="text-limit">{[{user.email}]}</div>
                                        </td>
                                        <td>
                                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-{[{$index}]}">
                                            <input type="checkbox" id="switch-{[{$index}]}" class="mdl-switch__input"
                                                ng-model="user.is_admin" ng-change="setAdministrator(user.email, user.is_admin)">
                                                <span class="mdl-switch__label"></span>
                                            </label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div ng-if="admin_users.length <= 0 || admin_users == undefined" class="no-list-message">
                                {[{ 'settings_administrators_not_found' | translate }]}
                            </div>
                        </fieldset>
                    </div>

                    <div class="config-pane mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet" ng-show="tab_visible==6">
                        <fieldset class="fieldset">
                            <div class="mdl-grid">

                                <div>
		                            <label>{[{ 'key_test' | translate }]} : </label><input ng-model="text_key" />
                                </div>

                                <div class="button-actions" ng-class="sync_status">
                                    <button class="mdl-button mdl-button mdl-js-button" ng-click="key_code(text_key)">
                                        {[{ 'test_connection' | translate }]}

                                        <i class="material-icons status-icon" ng-if="autorize_status!='warning'" > {[{autorize_status}]}</i>

                                        <i class="material-icons status-icon" style="color:#ad3737;" ng-if="autorize_status=='warning'" > {[{autorize_status}]}</i>
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                </div>
            </div>
            <div class="info-footer">
                <button type="button" class="mdl-button mdl-js-button" ng-click="efmodal.close()">{[{ 'settings_save' | translate }]}</button>
            </div>
        </div>
    </div>
</div>
