@keyframes icon-apply
    0%
        left -6px
    50%
        left 6px
    100%
        left -6px

@keyframes writingMovement
    0%
        left -5px
        transform rotate(25deg)
    15%
        left 20px
        transform rotate(9deg)
    30%
        left -5px
        transform rotate(25deg)
    50%
        left 20px
        transform rotate(9deg)
    100%
        left -5px
        transform rotate(25deg)

@keyframes slideOut
    0%
        transform translateX(-16px)
        opacity 0
    25%
        transform translateX(0px)
        opacity 0.5
    75%
        transform translateX(0px)
        opacity 0.5
    100%
        transform translateX(16px)
        opacity 0

@keyframes loadingBar
    0%
        background-position -380px 0
    100%
        background-position 0 0

@keyframes progressOpacity
    0%
        opacity 1
    50%
        opacity .33


