html, body
    height 100%
    padding 0
    margin 0

html.efor-class, body
    &:not(.tinyMCE_iframe_body)
        font-family 'Roboto', 'Helvetica', sans-serif
        background $bgColor
        color $textColor

.picker-dialog-bg
    background $titleColor !important
// Components
.mdl-layout__content
    scrollbar($grey-100, true, 4px, false)

.efor-drawer.is-visible ~ .mdl-layout__obfuscator
    visibility visible
    background rgba($blue-grey-700,.9)

.in-line-list
    display inline-block
    margin-right 0.5em

    &:after
        display inline
        content ','

    &:last-child
        &:after
            display none

.mdl-layout
    .efor-header.mdl-layout__header
        box-shadow rgba(0,0,0,.40) 0 0 10px

    /.MSIE90 &
        .mdl-layout-spacer
            display none

        .efor-layout-title
            float left

    .efor-navigation-header
        float right

        a.mdl-navigation__link
            font-weight normal
            color $textColor
            padding-left $paddingBox
            padding-right $paddingBox

        a, & ~ button
            cursor default !important // cursor

        .efor-customer // img and icon
            size 32px
            margin-right .25em !important
            vertical-align middle

    // NAVIGATOR BUTTON COLOR IN SMALL DEVICES
    .mdl-layout__drawer-button
        color $blue-grey-500

    //NAVIGATOR PANE
    .efor-navigation.mdl-navigation
        a.mdl-navigation__link
            font-size $text_p
            padding $paddingBox
            cursor pointer
            color $blue-grey

            &:hover
                background rgba($blue-grey, 0.05)

            &.is-active
                cursor default
                background-color $blue-grey-50

        .material-icons
        .mdi
            margin-right .5em

    //not small screen
    &:not(.is-small-screen)
        //HEADER
        .efor-header.mdl-layout__header
            margin-left 0
            width auto

            .efor-layout__header-row.mdl-layout__header-row
                padding-left $paddingBox *2

            img.efor-customer
                margin-right auto !important

        .mdl-layout__drawer-button
            display none

        //NAVIGATOR PANE
        .efor-drawer.mdl-layout__drawer
            top 64px
            height auto
            bottom 0
            background transparent
            box-shadow none
            border-color transparent
            z-index 2
            scrollbar($grey-100, true, 10px, false)

        .efor-navigation.mdl-navigation
            a.mdl-navigation__link
                margin auto ($paddingBox * 2)

    //small screen
    &.is-small-screen
        .efor-header.mdl-layout__header
            box-shadow rgba(0,0,0,.40) 0 0 10px

            .efor-layout__header-row.mdl-layout__header-row
                padding-left $paddingBox *6

//GENERAL CONTENT
.efor-navigation__content
    > *
        vertical-align middle

    .mdl-navigation__link
    .mdl-button
        color $blue-grey-500
        min-width 0
        line-height 30px
        width 32px
        padding 0
        margin-left 0.5em
        height 32px
        opacity .75

        &.mdl-button--raised
            box-shadow none

        &.mdl-button--colored
            color white

        &:hover
            opacity 1

div[loading-widget]

    .tag-block-screen
        size 250px
        background rgba(255,255,255, .85)
        transition ease-in-out 500ms all
        margin 6% auto 0
        bottom auto
        border-radius 1000px
        max-width 100%
        box-shadow rgba($blue-grey-500, 0.2) 0 4px 4px 0 inset

        @media(max-width $screen-md)
            size 200px
            top 0

            @media(max-height 361px)
                size 160px

        .loadign-img
        .loadign-bar
            position absolute
            top 0
            bottom 0
            left 0
            right 0
            width 66%
            height auto
            margin auto

        .loading-bar
            animation rotate_f 2s linear infinite

    &.block
        .tag-loading
            display none

    .message
        background transparent
        box-shadow none
        animation progressOpacity 2s linear infinite
        margin-top 10px
            
// Footer
.efor-layout__footer
    width 82%

    @media(max-width $screen-sc)
        width auto

.tuto-img
    display block
    clear both
    background $gray-empty
    padding 10px 20px

.cont-processes
    display flex
    flex-wrap wrap

    @media (max-width $screen-md)
        display block

    .process
        position relative
        box-shadow $box-shadow4
        border-radius 2px 2px 0px 0px
        width 48%
        background #fff
        margin 0 10px 10px 0
        float left
        display flex
        flex-direction column

        /.MSIE100 &
            min-width 330px // IE10 don't support flex-grow

        &:hover .p-menu
            opacity 1

        /.MSIE90 &
            display block
            width 32%

        &:hover
            .mdl-menu__container
                &
                & ~ .mdl-button
                    opacity 1

        @media (max-width $screen-md)
            width auto
            margin 10px auto
            float none

        @media (min-width $screen-xlg)
            width 24%
        
        &.on-process // angular
            .p-head
                background $yellow

                &
                .material-icons
                .mdi
                .label
                    color #fff

                .action
                    background rgba(0,0,0,0.05) 
                    position relative

                .material-icons
                .mdi
                    position relative
                    animation ease-in-out 2s icon-apply infinite
        &.on-error // angular
            .p-head

                &
                .material-icons
                .mdi
                .label
                    color $danger

    .p-head
        color $textColor
        text-align left
        display flex
        height 52px
        margin-bottom 10px
        flex-justify space-between
        flex-direction row-reverse

        .title
            font-size $text_h4
            margin 0
            padding 10px
            padding-top 6px
            height 100%
            display block
            flex-grow 1
            box-sizing border-box
            text-overflo
            text-overflow ellipsis
            overflow hidden
            white-space nowrap

            .subtitle
                display block
                font-size $text_small
                text-overflow ellipsis
                white-space nowrap
                opacity 1
                overflow hidden

        .action
            background transparent
            display block
            text-align center
            width 100px
            border none
            float right
            padding-top 6px

            &
            .material-icons
            .mdi
                color $textColor

            .label
                display block
                text-overflow ellipsis
                overflow hidden
    
    .p-body
        padding 0px
        display flex
        flex-direction row-reverse
        justify-content space-between

        @media(max-width $screen-sm)
            flex-direction column-reverse

        ul.p-list
            padding 10px
            margin 0
            display block
            font-size $text_p
            flex-grow 1

            @media(max-width $screen-sm)
                padding 0 10px 10px

            li
                padding 0 0 5px
                line-height 1.2em
                margin 0
                display block

        .relevant
            padding 15px 10px 10px
            display flex
            flex-direction column
            justify-content center

            @media(max-width $screen-sm)
                padding-bottom 0px

            /.MSIE90 &
                display block
                float right 

            .r-num
                font-size 42px
                text-align center
                padding 5px 0 3px

            .r-desc
                font-size $text_small
                line-height 1.2em
                text-align center
                display block
                padding 5px 0
                max-width 100px
                margin 0 auto

                @media(max-width $screen-sm)
                    max-width none

    .p-menu
        position absolute
        right 0
        bottom 0
        text-align right
        align-self flex-end
        transition ease-in-out 250ms all
        opacity 0

        .mdl-menu__container
            overflow hidden
            box-shadow 0 0 0 0 rgba(0,0,0,0)
            transition ease-in-out 250ms all

            &.is-visible
                box-shadow $box-shadow4

            &
            & ~ .mdl-button
                transition ease-in-out 250ms all
                opacity 0

                @media (max-width $screen-sc)
                    opacity 1

        .mdl-menu__container.is-visible
            &
            & ~ .mdl-button
                opacity 10

        .mdl-button
            background #fff
            box-shadow $box-shadow4
            border-radius 1px

        .mdl-menu li
            .mdi
            .material-icons
                font-size 18px

.box-no-padding
    padding-left 0
    padding-right 0

    .info-body
        padding 0

    .info-header
    .info-footer
        margin-left 0
        margin-right 0

    .info-body
        padding 1px 20px


.cont-table-file
    padding-top 5px

    /.box-no-padding &
        margin auto -20px

    table.table-file
        thead
            background $gray-empty
            padding 0

        th
            font-weight bold
            padding-top 5px

        tbody
            scrollbar($grey-100, true, 4px, false)

            td
                &:last-child
                    padding-right 15px

                .mdl-button.mdl-button--icon
                    line-height 16px

                    .mdi
                    .material-icons
                        font-size @line-height

                img
                    vertical-align middle
                    margin-right 4px

                .mdi
                .maretial-icons
                    color $textColor
                    font-size 20px

.cont-table-user
    @extend .cont-table-file
    padding-top 3px
    border 1px solid $gray3
    border-width 1px 1px 0

    table.table-file
        tbody td:first-child
            padding-left 8px


// Query
#UserNewOwner
#UserForIdentify
    .input_query
        transition ease-in-out all 500ms
        box-shadow rgba(0,0,0,0.0) 0 0 0 0

        &[disabled="disabled"]
            opacity 1
            background white
            width calc(100% - 7px)
            box-shadow rgba(0,0,0,0.12) 2px 2px 4px 0
            padding-left 5px

            + .ico-search
                opacity 0

.groups-users
    display block
    width auto
    padding 0
    margin 0
    overflow hidden
    overflow-y auto
    max-height 200px
    border 1px solid $gray3
    margin-top 3px
    scrollbar($grey-100, true, 4px, false)

    @media (max-width $screen-sm)
        margin-top -1px

    .row-group
        border-bottom 1px solid $gray3 
        display flex
        background white


        @media (max-width $screen-sm)
            flex-direction column

        &.type-outstanding .section-title
            padding-top 5px

            .mdi
            .material-icons
                color $yellow
        
        .section-title
            float left
            min-width 125px
            width 30%
            flex-grow 1
            padding-top 4px
            padding-left 1em
            font-weight bold

            @media (max-width $screen-sm)
                overflow hidden
                white-space nowrap
                text-overflow ellipsis
                padding-left 0.5em
                float none
                max-width none
                width auto

            .mdi
            .material-icons
                color $textColor
                font-size 20px

        .users-group
            display block
            width 100%

            .user-line
                min-height 32px
                border-bottom 1px solid $gray3 
                clear both

                @media (max-width $screen-sm)
                    border none
                    &:nth-child(odd)
                        background $gray4

                /.MSIE90 &
                    padding-left 25px

                &:last-child
                    border none

                &:hover
                    background $gray4

                .email
                    line-height 32px
                    display block
                    white-space nowrap
                    overflow hidden
                    text-overflow ellipsis
                    max-width 80%
                    max-width calc(100% - 110px)
                    float left

                    @media (max-width $screen-sm)
                        padding-left 1em
                        width 100%

        .menu-options
            display none
            position absolute
            z-index 2
            top 100%
            right 0
            background #fff
            white-space nowrap
            box-shadow $box-shadow4
            padding 0px 2px
            margin-top -4px
            margin-top -4px

            a
                display inline-block
                box-sizing border-box
                size 28px
                line-height 26px
                text-align center
                color $textColor
                cursor pointer

                &.is-active
                    color $primaryBtn
                    cursor default
                    background none

                &:hover
                    background $gray3

            .mdi
            .material-icons
                font-size 18px

        .menu-cont
            float right 
            position relative
            white-space nowrap
            padding-right 8px

            &:hover
                background $gray3

                .menu-options
                    display block
                    animation ease-in-out 0.5s menuDown

            button.button-icon
                display inline-block
                background none
                border none
                size 32px

                .materia-icon
                .mdi
                    color $textColor
                    font-size 18px

                .arrow-down
                    arrow 5px 5px down $textColor

                &.open-menu
                    width 14px
                    padding 0

        .remove-list
            float right 
            margin-top 5px
            line-height 16px
            size 24px
            min-width 24px
            min-height 24px
            color $gray

            .mdi
            .material-icons
                font-size 16px

.cont-searcher
    position relative
    margin-top 12px

    .efor-search .input_query
        border-color $gray3

    .efor-search
        max-width 345px
        width 100%
        width calc(100% - 218px)

        @media(max-width $screen-sm)
            width 100%
            max-width none

        .input_query
            background white

    .selected
        position absolute
        border 1px solid $primaryBtn
        height 34px
        padding 0
        box-sizing border-box
        width 25%
        min-width 220px
        clear both
        z-index 1
        top 0
        right 0
        background $primaryBtn
        color white
        line-height 32px
        transition ease-in-out 250ms all

        @media(max-width $screen-sm)
           width 100% 
           position relative

        &.is-disabled
            opacity .5

            &:hover
                .botton-down
                    background none

        .botton-down
            background transparent
            height 32px
            text-align center
            position absolute
            right 0px
            top 0
            padding 0 4px
            background $primaryBtn
            transition ease-in-out 250ms all

            .arrow-down
                arrow 5px 5px down white

        select.text
            white-space nowrap
            position relative
            background transparent 
            border none
            color white
            width 100%
            display inline-block
            line-height 1.2em
            height 32px
            top 0
            font-size $text_p
            appearance none
            display inline-block
            z-index 1
            text-indent 20px

            &.is-empty
                text-indent 4px

            &:focus
                outline none
                border none
                box-shadow none

            option
                font-size $text_p
                padding 4px 2px
                line-height 1.5em
                text-indent 5px
                color $textColor

            &[disabled]

                & ~ .botton-down
                    cursor default
                    opacity 0.5

        &:hover
            .botton-down
                background rgba(255,255,255,0.25)

// modal details
.user-item
    display inline-block
    border-radius $rad
    background rgba(white, 0.5)
    box-shadow 0px 0px 2px 0 rgba(0,0,0,0.25)
    margin 1px 2px
    padding 1px 3px

.title-if
    padding-left 0 !important

    .length-list
        display none

.files-list
    display none
    line-height 1.5em
    padding-top 5px
    padding-left $paddingBox

    /.show-files &
        display block

    .file-item
        display block
        margin 2px 0
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
        max-width 93%
        padding 1px 4px
        border-bottom 1px solid $gray3
        color $textColor

        .file-icon
            display inline-block
            vertical-align middle
            margin-right 0.5em













