{% extends 'base.html' %}
{% set apis_to_load = "[{name: \'drivemanager\', version: \'v1\'}]" %}
{% set ngController = 'adminIndex' %}


{% block tail_script %}
    <script src="/static/js/angular/controllers/admin_index.js"></script>
{% endblock %}

{% block content %}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-cell--10-col">
        <div class="efor-content-title-bar">
            <h1 class="mdl-typography--title font-w-normal">{[{ 'menu_home' | translate }]}</h1>
            <div class="mdl-layout-spacer"></div>
        </div>

        <!-- Process list -->
        <div process-list ng-if="processesList && processesList.length" class="cont-processes"></div>

        <!-- no process message -->
        <div process-empty ng-if="!processesList || !processesList.length"></div>

        <!-- Pagination -->
        <div class="pagination" ng-if="processesList && processesList.length" >
            <span class="label">{[{ 'pagination_page' | translate }]}:</span>
            <a href="" class="mdl-button mdl-js-button" ng-click="goToPage('home')">
                <i class="material-icons mdi mdi-brightness-1 dot"></i>
                {[{ 'pagination_initial' | translate }]}
            </a>
            <a href="" class="mdl-button mdl-js-button" ng-click="goToPage('back')" ng-show="pagesTokens.cursorCurrent">
                <i class="material-icons mdi mdi-chevron-left"></i>
                   {[{ 'pagination_back' | translate }]}
            </a>
            <a href="" class="mdl-button mdl-js-button" ng-click="goToPage('next')" ng-show="pagesTokens.cursor">
                {[{ 'pagination_next' | translate }]}
                <i class="material-icons mdi mdi-chevron-right"></i>
            </a>
        </div>
    </div>
</div>

<div class="efor-cont-submenu" >

    <a id="create_process" class="efor-add-main mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect mdl-button--mini mdl-js-button"
        ng-click="openCreateProcess()"
        >
        <i class="material-icons mdi mdi-plus"></i>
    </a>
    <span for="create_process" class="mdl-tooltip mdl-tooltip--left">
        {[{ 'create_new_process' | translate }]}
    </span>

    <div class="efor-menu">
        <a id="search_orphans" ng-click="openCreateProcess(3)"><i class="mdi mdi-folder-remove"></i></a>
        <span for="search_orphans" class="mdl-tooltip mdl-tooltip--left">
            {[{ 'SEARCH_ORPHANS' | translate }]}
        </span>

        <a id="new_property_manage" ng-click="openCreateProcess(2)"><i class="mdi mdi-account-network"></i></a>
        <span for="new_property_manage" class="mdl-tooltip mdl-tooltip--left">
            {[{ 'PROPERTY_MANAGE' | translate }]}
        </span>
    </div>

</div>
{% endblock %}
