{% extends 'base.html' %}
{% set apis_to_load = "[{name: \'drivemanager\', version: \'v1\'}]" %}
{% set ngController = 'adminIndex' %}


{% block tail_script %}
    <script src="/static/js/angular/controllers/admin_logs.js"></script>
{% endblock %}

{% block content %}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-cell--10-col">
        <div class="efor-content-title-bar">
            <h1 class="mdl-typography--title font-w-normal">{[{ 'menu_logs' | translate }]}</h1>
            <div class="mdl-layout-spacer"></div>
        </div>
        <div class="efor-list__signatures">
            <div ng-if="logsList && logsList.length" class="table-overflow">
                <table class="efor-table-logs mdl-data-table mdl-shadow--2dp">
                    <thead>
                        <tr>
                            <th class="text-a-left">{[{'log_table_date' | translate }]}</th>
                            <th class="text-a-left">{[{'log_table_activity' | translate }]}</th>
                            <th class="text-a-left">{[{'log_table_user_associated' | translate }]}</th>
                        </tr>
                    </thead>
                    <tbody class="tbody-description" ng-repeat="log in logsList" ng-init="log.open=false" ng-class="{'description-open':log.open}">
                        <tr ng-click="openDetails(log)">
                            <td class="text-a-left" data-title="{[{ 'log_table_date' | translate }]}">
                                {[{log.finalized | date}]}
                            </td>
                            <td class="text-a-left" data-title="{[{ 'log_table_activity' | translate }]}">
                                <div class="text-overflow">{[{ PROCESSES_TYPE[log.type] | translate }]}</div>
                            </td>
                            <td class="text-a-left" data-title="{[{ 'log_table_user_associated' | translate }]}">
                                {[{log.user_applicat}]}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Pagination -->
            <div class="pagination" ng-if="logsList && logsList.length" >
                <span class="label">{[{ 'pagination_page' | translate }]}:</span>
                <a href="" class="mdl-button mdl-js-button" ng-click="goToPage('home')">
                    <i class="material-icons mdi mdi-brightness-1 dot"></i>
                    {[{ 'pagination_initial' | translate }]}
                </a>
                <a href="" class="mdl-button mdl-js-button" ng-click="goToPage('back')" ng-show="pagesTokens.cursorCurrent">
                    <i class="material-icons mdi mdi-chevron-left"></i>
                       {[{ 'pagination_back' | translate }]}
                </a>
                <a href="" class="mdl-button mdl-js-button" ng-click="goToPage('next')" ng-show="pagesTokens.cursor">
                    {[{ 'pagination_next' | translate }]}
                    <i class="material-icons mdi mdi-chevron-right"></i>
                </a>
            </div>
            <div ng-if="!logsList || !logsList.length" class="no-list-message">
                {[{ 'logs_not_found' | translate }]}
            </div>
        </div>
    </div>
</div>
{% endblock %}
