doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title G+ interface
    
    link(rel='icon', type='image/svg+xml', href='/static/img/favicon.svg', sizes='any')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css', rel='stylesheet')
    link(href='https://cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/style.css')

    script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
    script(src='https://www.gstatic.com/firebasejs/5.5.7/firebase.js')
    
    script(src='/static/js/constants.js')
    script(src='/static/js/HelperImages.js')
 
  body
    #app.app(v-bind:class='{"sending-data":isSendingData}')

      #WRAPPER.wrapper
        header#HEADER.header-cont
          h1.logo-title
            // img.logo-ico(src='/static/img/favicon.svg')
            span.logo-text
              b Nueva Publicación
        
        #CONT.cont-body
          main#CONT_DATA.main-data
            #FORM_MAIN.data
              form#FORM_INFO.data-collection(v-on:submit='send')
                div.field
                  label.i-key Título
                  textarea.i-value(required='required', v-model="objectContent")
                div.field
                  label Imagen
                  input#UPLOAD_FILE(type='file', required='required', v-on:change='loadImage')
                div.field
                  button.i-value(type='submit', :disabled="!!isSendingData") Publicar

  script(src='/static/js/scripts.js')
