@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500i,700');

// import dependencies
@import 'nib'

// config and utils 
@import '../efor-components/mdl-skeleton-default/mixin'
@import '../efor-components/mdl-skeleton-default/material-colors'
@import './stylus/variables'

// dev tools debgs mod styles
@import '../efor-components/dev-tools/dev-css-tools'

html, body
    height 100%
    padding 0
    margin 0
    font-size $text_p
    background #f1f1f1
    font-family $titleFont
    
html, body
    color $textColor

    @media (max-width $screen-md)
        background-color $gray6
    
body
    position relative
    z-index 1
    
    &:before
    &:after
        content ''
        display block
        position absolute
        background rgba(black, 0.25)
        left 0
        right 0
        top 0
        height 380px
        z-index 0 //fix old browsers
        z-index -1

    &:before
        background-color $bgColor
        background url('/static/img/landingPage/bg-desktop.jpg') center 62% no-repeat fixed
        background-size cover

.wrapper
    max-width 960px
    margin auto
    clear both
    box-sizing border-box

// general
.mdi
    font-size 24px
    line-height 1em
    display inline-block
    margin auto

input
    color $textColor

img
    max-width 100%
a
    color $primary

h1, h2, h3, h4, h5, h3
    font-weight bold
    font-family $textFont
    line-height 1.2em

    /.main &:before
        display inline-block
        content '_'

    /.main &.no-line:before
        content ''


main
    line-height 1.5em

select, input, text-area
    font-family $textFont

.cont-gen
    margin auto
    padding-top 60px
    position relative
    z-index 1
    
    @media (max-width $screen-md)
        margin auto
        width 90%

.clear
    clear both
    width 100%
    display block

.col1
.col2
    width 47.5%
    margin-right 2.5%
    float left
    
    @media (max-width $screen-md)
        display block
        width 100%
    
.col2
    margin-right 0
    width 45%
    float right
        
    .col0
    .col1
    .col2
        
        @media (max-width $screen-md)
            width 100% !important
            float none
    
header.header
    background white
    box-shadow rgba(0,0,0,0.1) 0 4px 4px 0
    padding 1px 0
    min-height 58px
    position fixed
    width 100%
    left 0
    top 0
    right 0
    z-index 10
    
    .wrapper
        display flex

    /.cont-logo
        margin-right 10px
        margin 15px 0 0
        width 30%
        white-space nowrap
        min-width 180px
        
        img
            vertical-align middle
        
        .logo-app
            height 60px
            margin-top -15px
            
            @media (max-width $screen-sm)
                height auto
                max-width 180px
                position relative
                top 5px

        .logo-owner
            height 60px
            margin -2% 0
            margin-right 20px
            border-left $gray
            
            @media (max-width $screen-sm)
                margin-right 3%
                width 33%
                max-width 100px
        
        @media (max-width $screen-sm)
            text-align center
            margin-bottom 10px
            margin-left 50px
            
            img
                max-width 80%
        
    /.main-menu
        margin-top 12px
        text-align left
        overflow hidden
        overflow-x auto
        white-space nowrap
        width 70%
        position relative
        scrollbar($grey-100, true, 4px, false)
        
        ul
            ulUnformat inline-block
            font-size $text_p

            li.active a
                font-weight bold
                color $primary

            a
                display inline-block
                box-sizing border-box
                height 47px
                margin 0
                padding 10px
                border-bottom 6px solid transparent
                text-decoration none
                transition ease-in-out all 500ms
                color $textColor
                border none
                
                &:hover
                    color $link

        .icon-menu
            display none
        
        @media (max-width $screen-sm)
            text-align center
            display block
            overflow hidden
            position absolute
            left 0
            top 0

            .icon-menu
                display block
                size 40px
                padding 8px
                margin 0
                position absolute
                color $textColor

                &.hover
                &:hover
                    + ul
                      display block

                &.unhover
                    + ul
                      display none


            &:before
                content ''
                display block
                size 40px
                text-align center
                float right
                line-height 40px

            ul
                display none
                position fixed
                width 250px
                max-width 100%
                top 0
                bottom 0
                height 100%
                box-shadow $box-shadow1, rgba($blue-grey-700, .8) 0 0 600px 600px
                overflow hidden
                overflow-y auto
                background white
                padding-top 80px
                box-sizing border-box
                scrollbar($grey-100, true, 4px, false)
                z-index 20
                transition ease-in-out 250ms all

                &:hover
                    display block

                &:before
                    content ''
                    display block
                    position fixed
                    width 240px
                    height 60px
                    background url('https://storage.googleapis.com/efor-static/APPS-SUITE/XSS/XSS.svg') top left no-repeat white
                    top 0
                    left 0
                    background-size 220px auto
                    margin 10px

                li
                    display block
                    text-align left

                    a
                        display block
                        margin-bottom 1px
                        height auto
                        overflow hidden
                        text-overflow ellipsis
                        white-space nowrap
                        padding-left 30px

                        &:hover
                            background rgba($blue-grey-700, .1)
                        
                        a.active
                            background rgba($blue-grey-700, .1)

main.main    
    .wrapper
        padding $paddingBox 0px
        padding-bottom 50px
        
    .section
        padding 0
        position relative
        padding-top 60px
        
        &:first-child
            padding-top 0
        
        @media (max-width $screen-md)
            padding-top 80px //for menu select
        
        &:before
            content ''
            display block
            background $corp3
            opacity .25
            transition ease-in-out all 250ms
            width 0px
            min-height 100px
            margin-left -25px
            left 0
            top 60px
            bottom 0
            position absolute
        
        &:target
            &:before
                width 5px
            
            h3
                color $primary
                
    h3
        font-size $text_h1
        margin 10px auto 20px
        clear both
        color $grey-800
        transition ease-in-out all 300ms
            
    .col1
    .col0
        padding-left 25px
        
    .col0
    .col1
    .col2
        
        @media (max-width $screen-md)
            padding-left 0
            width 100% !important
            float none
            
    /.video
        text-align center
        display block
        
    ol, ul
        li
            margin-bottom 0.75em

    /.list
    /.list-no
        clear both
        margin-left 0
        padding-left 0
        overflow hidden
        display flex
        flex-wrap wrap
        justify-content space-between
        
        li
            position relative
            display block
            margin-bottom 10px
            width 46%
            float left
            margin-left 30px
            
            @media (max-width $screen-md)
                width 100%
                
            &:before
                content '\F12C'
                color $corp3
                position absolute
                right 100%
                margin-right 10px
                display inline-block
                font normal normal normal 24px/1 "Material Design Icons"
                text-rendering auto
                line-height inherit
                -webkit-font-smoothing antialiased
                -moz-osx-font-smoothing grayscale
                
    /.list-no li:before
        content '\F0AD'
        font-size 1.3em


    ul.apps
        ulUnformat inline-block
        text-align center
        
        a
            size 150px
            padding 10px
            margin 2px auto
            color $grey-500
            text-decoration none
            display inline-block
            background rgba(white, 0.33)
            border-radius $rad
            box-shadow rgba(0,0,0,0) 0px 0px 8px 0
            transition ease-in-out 250ms all
            
            @media (max-width $screen-md)
                size 120px

            &:hover
                box-shadow rgba(0,0,0,0.25) 2px 2px 8px 0
                background rgba(white, 1)
                color $primary
                
            img
                max-width 150px

                @media (max-width $screen-md)
                    max-width 120px
                
                h4
                    text-align left
                    width 55%
                    font-size $text_h4
        

        h4
            margin auto
            font-size $text_h5
    
                
table.table
    width 100%
    border-collapse collapse
    
    .text-a-center
        text-align center
    
    th, td
        text-align left
        padding 8px 4px
        
    tr
        transition ease-in-out 250ms all
        background #fff
        > th
        > td
            border-bottom 1px solid $grey-300
        
        &:hover
            background $grey-50

.cont-ban
    position relative
    height 340px
    padding-top 30px
    
    @media (max-width $screen-md)
        height auto

    > .wrapper
        display flex
        justify-content space-between
        height 100%
        
        @media (max-width $screen-md)
            display block
            min-height 280px
            clear both
    
    /.banner
        height 80%
        padding 20px 0
        text-align center
        display flex
        align-items flex-end
        background-color $primary
        background-color rgba($primary, 0.66)
        max-width 320px
        position relative
        z-index 1
        
        @media (max-width $screen-md)
            max-width none
            padding 10px 0px
            margin 0px
            width 100%

        img
            margin auto
            width 80%

            @media (max-width $screen-md)
                max-width 180px
 
    /.description
        color white
        padding 20px 0
        display flex
        flex-direction column
        height 100%
        align-content space-between
        width 50%
        display flex
        
        @media (max-width $screen-md)
            padding-top 0
            text-align center
            width 100%
        
        h2
            color $primary
            font-size $text_h1

        @media (min-width $screen-md)
            b
                color $primary

    .message
        text-shadow #000 2px 2px 4px

        @media (max-width $screen-md)
            text-shadow none
            background-color rgba($primary, 0.66)
            padding 10px
            text-shadow none
            margin auto 0px
            font-weight bold

    /form.enter-to-app
        background white
        box-shadow rgba(0,0,0,0.25) 0 2px 8px 0
        padding 15px 25px
        width 100%
        box-sizing border-box
        width 100%
        text-align left
        color $textColor
        text-shadow none

        > p
            margin-top 0

        label
            padding-bottom 4px
            display inline-block
        
        .cont-search
            position relative
            display block
            
            input.search-domain
                display block
                position relative
                background white
                border 1px solid $grey-300
                padding 5px
                width 100%
                box-sizing border-box
                border-radius 2px
                height 44px
                font-size $text_h5
                transition ease-in-out all 250ms
                outline none
                
                &:focus
                &:hover
                    border $blue
                    outline none
                    
                    & + button
                        color $primary
        
            button
                position absolute
                top 1px
                right 1px
                background white
                color lighten($primary, 20)
                border none
                padding 5px
                height 42px
                cursor pointer
                transition ease-in-out all 250ms
                
                &:hover
                    color $primary
                
        a.apps-marketplace
            display inline-block
            padding 6px 10px 6px
            border 1px solid transparent
            border-radius 2px
            transition ease-in-out 250ms all
            margin-left -10px
            margin-top 10px
            cursor pointer
            color $textColor
            text-decoration none
            text-overflow ellipsis
            white-space nowrap
            max-width 85%
            overflow hidden
            
            img
                vertical-align middle
                size 32px
                margin-right 10px
                margin-top -4px
            
            &:hover
            &:focus
                margin-left 0
                border-color $grey-300

// about-us
.about.col1
    width 33.5%
    
.about.col2
    width 60%
    
    ul
        padding-left 15px
    
.about-company
    margin-left -5%
    margin-right -5%
    width 100%
    
.certifieds
    text-align left
    
    @media (max-width $screen-md)
        text-align center

    img
        height 64px
        border 1px solid $grey-300
        margin-left 4px
        
        @media (max-width $screen-md)
            height 90px
            
        @media (max-width $screen-sm)
            height auto
            width 49%
            margin 0
            
            &.full
                width 100%

footer.footer
    text-align center
    padding 20px 0
    font-size $text_ps
                
.efor-layout__footer
    text-align center

    a.efor-footer-credits
        color $textColor
        display block
        margin auto
        max-width 100px
        text-decoration none
        opacity 0.75
        transition ease-in-out 500ms all

        &:hover
            opacity 1

        .powerby span
            display block
            margin-bottom -5px

    .social-icons a
        display inline-block
        margin auto 0.25em

.video-modal
    position fixed
    left 0
    width 0
    right 0
    top 0
    bottom 0
    size 100%
    background rgba( black, .7)
    overflow auto
    z-index 1001

    &:before
        content '\00D7'
        display block
        position absolute 
        background rgba(gray, 0.33)
        border-radius 2px
        cursor pointer
        right 10px
        top 10px
        z-index 2
        color $gray3
        text-align center
        size 60px
        font-size 42px
        line-height 68px

    iframe
        position absolute
        width 720px
        height 480px
        max-width 100%
        left 0 
        right 0
        top 0
        bottom 0
        margin auto
        border none
        box-shadow rgba(black, .5) 0 0 16px 2px

a.video
    transform scale(1)
    transition ease-in-out 250ms all

    &:hover
        transform scale(1.05)


